/*matching font chooosen Fjalla One for headers and Merriwaeather for regular paragraphs*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather:ital,wght@0,300;0,700;0,900;1,700&display=swap');
  
  body {
   padding: 0;
    margin: auto;
    font-family: "Fjalla One", "Arial", "Helvetica", sans-serif;
    width: 100vw;
    height: 100vh;
 
    background-color: whitesmoke;
 
  }
  
  p {font-family: "Merriweather", "Times New Roman", "Times", serif;
    font-size:large;
    font-kerning: auto;
}
  body.correct {
    background-color: green;
  }
  
  body.wrong {
  background-color: red;
  }
  

header
{
    margin: auto;
    text-align: center;
}

  .logo {
  width: 70%;
  max-width: 310px;
  height: auto;
  text-align: center;
  padding: 20px;
  margin: auto;
  justify-content: center;
}


  .container {
    width: 800px;
    margin: auto;
    max-width: 80%;
    background-color: white;
    
    border-radius: 10px;
    padding: 35px;
   
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin: auto;
  }
  
  .btn {
   /*buttons style copied from https://gradientbuttons.colorion.com */
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    padding: 20px 35px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-family: "Fjalla One", "Arial", "Helvetica", sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 1.3rem;
    background-size: 200% auto;
    color: whitesmoke;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
  }
  .btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 

  .btn.correct {
        background-image: linear-gradient(to right, #59c83b 0%, #39562e  51%, #52c234  100%);
        transition: 0.5s;
    
  }
  
  .btn.wrong {
        background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
        transition: 0.5s;
  }
  
  .start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 12px 23px;
    margin-top: 12px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  #question {
    font-size: clamp(1.2rem, 1rem + 10vw, 1.7rem);
    text-align: center;
    padding: 10px 3px 25px 3px;

  }