/*matching font chooosen Fjalla One for headers and Merriwaeather for regular paragraphs*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather:ital,wght@0,300;0,700;0,900;1,700&display=swap');

body
 {margin : 0;
  padding: 0;
  font-family: "Fjalla One", "Arial", "Helvetica", sans-serif;
  font-weight: lighter;
  font-kerning: auto;
  color: #3a3a3a;

 }

p {font-family: "Merriweather", "Times New Roman", "Times", serif;
    font-size: 1.6rem;
    font-kerning: auto;
}
/*responsive heading font size depending on screen resolution*/
h1 {
    font-size: clamp(1rem, 1rem + 2vw, 9rem);
}

h2 {
    font-size: clamp(1rem, 1rem + 0.5vw, 5rem);
}

.logo1 {
    position: relative;
    text-align: center;
    width: clamp(3rem, 15rem);
    size: 80%;
    max-width: 200px;
    height: auto;
  }

  header {
    
    text-align: center;
    margin-left: 10px;
    margin-top:30px
} 

.game-area {
    background-color: whitesmoke;
   margin-left: auto;
   margin-right: auto;
   max-width: 60rem;
   padding-left: 5rem;
   padding-right: 5rem;
}

.buttons-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0.3rem;
    margin: auto;
    padding-bottom: 2rem;
    }


.btn-a {
    padding: 20px;
    background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    transition: 0.4s;
    background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
   
    border-radius: 6px;
    border-width: 2px;
    border-color: white;
    color: whitesmoke;
    font-family: "Fjalla One";
    font-size: clamp(1rem, 1rem + 1vw, 4rem);
}

.btn-b {
    padding: 10px 30px 10px 30px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: hsl(222, 92%, 39%);
    border-color: white;
    border-radius: 6px;
    color: whitesmoke;
    font-family: "Fjalla One";
    font-size: clamp(1rem, 1rem + 1vw, 4rem);
    }
    
.btn-b:hover {
        border-color: hsl(217, 88%, 19%);

    }

.btn-a:hover {
        border-color: hsl(217, 88%, 19%);
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }
    
.controls-buttons-area {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    }

.points-area {
    margin: auto;
    display: grid;
    }

#question {
    text-align: center;
    padding-top:2rem;
    padding-bottom: 2rem;
    }

.scores {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.points-area {
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: normal;
    margin: auto;
    }


.btn-a.wrong {
    background-image: linear-gradient(to right, #e53935 0%, #e35d5b  51%, #e53935  100%);
}
      
.btn-a.correct {
    background-image: linear-gradient(to right, #1fc781 0%, #155a1e  51%, #1dd488  100%); 
}


         
  
    

               
    
